<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js'></script>


<input type='text' name='codice' id='codice'/><br />
<button  onClick='getsolr()' > 
		
		</a> </button><br />


<script type="text/javascript">


function getsolr() {
	var testo= $('#codice').val();
	console.log(testo);
$(document).ready(function(){
    $("button").click(function(){
	var url = "http://localhost:8983/solr/phaidra5/get?id="+testo+"";
	$.getJSON(url, function(result){
	
	
	$("div").append(result.ui_value);
	}
	
	)
        //$.getJSON("http://localhost:8983/solr/demo/get?id=book1", function(result){
     })}       
    );
    };


</script>
</head>
<body>


<div></div>

</body>
</html>

</script>