<head>
    <title>Solr Phaidra search</title>
</head>
<body>
    <h3>Solr Phaidra Search</h3>

    Query: <input id="query" /> 
    <button id="search">Search</button>
    <hr/>
    <div id="results">
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>
$(document).ready(on_ready)
    function on_data(data) {
        $('#results').empty();
        var docs = data.response.docs;
        $.each(docs, function(i, item) {
		    console.log(item);
					 
			
			var url2 ="https://phaidra.cab.unipd.it/api/object/o:"+item.pid+"/index";
			$.getJSON(url2, function(response2){
			console.log(response2);
		    $.each(response2, function(i, field){
		    console.log(field);
	        $("#results").append("<div></div>Titolo:"+field.dc_title);
			$('#results').append('<div>Identificativo o:' + item.pid + '</div>');
			$('#results').append('<img src="https://fc.cab.unipd.it/fedora/objects/'+field.pid+'/methods/bdef:Asset/getThumbnail">');
			$('#results').append('<hr></hr>');
			});
			});
			
			
			
        });

        var total = ' Trovati' + docs.length + 'risultati';
        $('#results').append('<div>' + total + '</div>');
		$('#results').append('<hr><hr></hr></hr>');
    }

    function on_search() {
        var query = $('#query').val();
        if (query.length == 0) {
            return;
        }

		
        var url='http://localhost:8983/solr/demo2/select/?q='+query+'&wt=json&callback=?&json.wrf=on_data';		
        $.getJSON(url);
    }




    function on_ready() {
        $('#search').click(on_search);    
        $('body').keypress(function(e) {
            if (e.keyCode == '13') {
                on_search();
            }
        });
    }


	

			
	
	
	

    
</script>