<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js'></script>
  <script type='text/javascript'>
    $.getJSON("http://localhost:8983/solr/select/?q=index&wt=json&json.wrf=?&indent=true", function(result){
    var Parent = document.getElementById('rs');
    for (var i = 0; i < result.response.docs.length; i++) {
      var thisResult = "<b>" + result.response.docs[i].name + "</b><br>" + result.response.docs[i].description
      + ", " + result.response.docs[i].tags + "<br>";
      var NewDiv = document.createElement("div");
      NewDiv.innerHTML = thisResult;
      Parent.appendChild(NewDiv);
    }
  });
</script>
<div></div>