<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="solrapp.js"></script>
<div ng-app="solrapp">Cerca:
<search-results solr-url="https://imageserver.cab.unipd.it:8983/solr/phaidradev/select" query="" display-field=""></search-results>

</div>   




  



