<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="solrapp2.js"></script>
<div ng-app="solrapp2">Cerca:
<search-results solr-url="https://phaidra.cab.unipd.it/api/search" query="" display-field=""></search-results>
</div>  