<input ng-model="query" name="Search"></input>
<h2>Risultati della ricerca {{query}}</h2>
<span ng-repeat="doc in results.docs">
                
				<p>{{doc["PID"]}}</p>
				<p>{{doc["uw.general.description"]}}</p>
				 
				<img src="https://fc.cab.unipd.it/fedora/objects/o:{{doc["PID"]}}/methods/bdef:Asset/getThumbnail">
				
			    </span>